:root{
  --c1 : #02182B;
  --c2 : #FEDE27;
  --c3 : #BCE7FD;
  
}
body{
  overflow-x:hidden !important ;
  background-color: white !important;
}
.land{
  padding-top: 5em !important;
  height: fit-content;
  overflow: hidden !important;

}
.logo-navbar{
  width: 60px;
}
nav{
  background-color: var(--c2);
}
.info-side{
  background-color: var(--c3);
  height: fit-content;
  width: 100%;
  position: relative;
}

.hello{
  font-size: 60px;
  color: var(--c1);
}

.everyone{
  font-weight: 900;
}

.my-img{
  width: 50%;
  position:absolute;
object-fit:fill;
  z-index: -66;

  filter: brightness(0.5) ;
}


.my-name{
  font-size: 55px;
  color: var(--c1);
}

.my-name span {
  font-weight: 800;
}
.land-row >*{
  padding: 0 !important;
}

.job{
color: var(--c1);

}

.f-holder{
  display: flex !important;
  justify-content: center;
  align-items: center;
}


.social-bar a{
  text-decoration: none;
  padding:0 1em;
 
}
.social-bar a i{
  color: #02182B;
  font-size: 6vh;
  transition: 0.7s;

}



.instagram:hover{
transform: scale(1)  !important;
color:#833ab4 ;

zoom: 1.35;


}

.twitter:hover{
color: #1da1f2;

zoom: 1.2;


}

.linkedin:hover{
color: #0077b5;

zoom: 1.2;

}

.github:hover{
color: #333;
transform: scale(1.0);
zoom: 1.2;


}


.p-about p{
  font-size: 25px;
  line-height: 2.5;
}

.about{
  background-color: white;
  
}

.heading{
  font-size: 50px;
  color: #02182B;
  font-weight: 700;
}

.nav-link:hover{
  color: var(--c1) !important;
  transform: scale(1.1);
  font-weight: 500;
  text-align: center !important;
}

.nav-link{
  transition: 0.5s;
}

.mini-photo{
  width: 240px;
  border-radius: 100%;
  display: none;
  border: 2px solid var(--c1);

}

.about{
  padding-top: 4em !important;
}



  



.cardw-img{
	margin: 80px
}
/* 
.img-card{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
  margin: 5vh;
} */



.image:hover img{
	opacity: 1;
  color: var(--c2) !important;
  background-color: var(--c1) !important;
}

.image .details{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: var(--c1);
	width: 100%;
	height: 100%;
}

.image .details h2{
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 70px;
	transition: 0.4s;
	transition-property: transform;
  font-weight: 900;
}

.image .details h2 span{
	font-weight: 900;
}

.image:hover .details h2{
	transform: translateY(-30px);
  
  
}

.image .details p{
	margin: 30px 30px 0 30px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
  color: black;
}

.image:hover >.details p{
	opacity: 1;
	transform: translateY(-40px);
  font-size: 15px;
  
  
}

.image:hover .details:hover{
font-size: 10px;
  width: 100%;
  height: 100%;
}

.work-c{
  width: 33vh;
  height: 33vh;
  position: relative;
  border: 2px solid  var(--c1);
  overflow: hidden !important;
}




.work-info{
  background-color: rgba(0, 0, 0, 0.582);
  position: absolute;
  z-index: 2;
  opacity: 0;
  top: 0;
  transition: 0.8s;
}

.work-title{
  color: white;
  font-weight: 500;


}
.work-text{
  color: white;
  line-height: 2;
  font-size: 12px;
}

.work-c:hover > .work-info{
  opacity: 1 !important;
}
.work-c:hover > .work-holder{
  transform: scale(1.2);
  filter: blur(5px);
}

.view-btn{
  background-color: #02182B;
  color: var(--c3);
}   

.title-work{
  color: var(--c1) !important;
  font-weight: 700 !important;
}

.skills {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 70px);
  margin: 20px;
}
.skl{
  
   color: var(--c1);
   font-weight: 700;
   text-align: center !important;
}
.sklLine{
  position: relative;
  bottom: 8px;
  visibility: hidden;
  padding-left: 6px;
  color: var(--c2);
}
.ProgWidth {
  padding: 0px 20px;
}
.skillDiv {
  height: 5px;
  width: 100%;
  background-color: gray;
}
.skillBar {
  display: block;
  height: 5px;
  background-color: var(--c2);
}
.p {
  display: flex;
  justify-content: space-between;
}

.htmlBar {
  width: 70%;
  animation: html 5s 2s 5 forwards;
}
.cssBar {
  width: 70%;
  animation: css 5s 2s 5 forwards;
  font-size: 100px !important;
}
.jsBar {
  width: 75%;
  animation: js 5s 2s 5 forwards;
}

.reactBar {
  width: 10%;
  animation: react 5s 2s 5 forwards;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
footer{
  background-color: var(--c1);
}


.cardw {
  width: 12rem;
  cursor: pointer;
}

.content {
  text-align: center;
  position: relative;
  transition: all 2.25s;
  background-color: rgb(127, 204, 240);
  padding: 5em;
  transform-style: preserve-3d;
}

.cardw:hover .content {
  transform: rotateY(0.5turn);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.title {
  transform: translateZ(5rem);
  font-size: 2rem;
}

.subtitle {
  transform: translateZ(2rem);
}

.back {
  transform: rotateY(0.5turn);
  background-color: var(--c2);

}

.link-w {
  transform: translateZ(3rem);
  color: #02182B;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

