:root{
  --c1 : #02182B;
  --c2 : #FEDE27;
  --c3 : #BCE7FD;
  
}

.land{
  padding-top: 5em !important;
  height: fit-content;
  overflow: hidden !important;

}
.logo-navbar{
  width: 60px;
}
nav{
  background-color: var(--c2);
}
.info-side{
  background-color: var(--c3);
  height: fit-content;
  width: 100%;
  position: relative;
}

.hello{
  font-size: 60px;
  color: var(--c1);
}

.everyone{
  font-weight: 900;
}

.my-img{
  width: 50%;
  position:fixed;
object-fit:fill;
  z-index: -66;
}


.my-name{
  font-size: 55px;
  color: var(--c1);
}

.my-name span {
  font-weight: 800;
}
.land-row >*{
  padding: 0 !important;
}

.job{
color: var(--c1);

}

.f-holder{
  display: flex !important;
  justify-content: center;
  align-items: center;
}


.social-bar a{
  text-decoration: none;
  padding:0 1em;
 
}
.social-bar a i{
  color: #02182B;
  font-size: 6vh;
  transition: 0.7s;

}

.p-about p{
  font-size: 25px;
  line-height: 2.5;
}

.about{
  background-color: white;
  
}

.heading{
  font-size: 50px;
  color: #02182B;
  font-weight: 700;
}

.nav-link:hover{
  color: var(--c1) !important;
  transform: scale(1.1);
  font-weight: 500;
  text-align: center !important;
}

.nav-link{
  transition: 0.5s;
}

.mini-photo{
  width: 240px;
  border-radius: 100%;
  display: none;
  border: 2px solid var(--c1);

}

.about{
  padding-top: 4em !important;
}
