@media only screen and (max-width: 600px) {
   .mini-photo{
    display: block;
   }
  .land{
    height: fit-content;
  }
  .info-side{
    height: 100%;
  }
   .img-side{
    display: none;
   }

   .my-name{
    font-size: 56px;
   }

   .about{
    padding-top: 0em !important;
  }

  .p-about p{
    font-size: 18px;
    line-height: 1.5;
  }
  }